body{
    background-color: #d9d9d9;
    font-family: 'Josefin Sans', sans-serif;
    color:#66ffcc;
    font-size: 28pt;
    font-weight: 700;
    text-align: center;
}

.calculator{
    width: 500px;
    height: 840px;
    position:relative;
    margin: 3% auto;
    background: linear-gradient(to top, #660066 0%, #000066 100%);
}

.row{
    height:120px;
    width:100%;
}

/*all buttons except 0 button*/
.button{
    height: 120px;
    width: 125px;
    display:inline-block;
    float: left;
}

/*0 button*/
.buttonBig{
    height: 120px;
    width: 375px;
    display:inline-block;
    float: left;
}

.button:hover{
    background-color: white;
    opacity: 0.4;
}

.buttonBig:hover{
    background-color: white;
    opacity: 0.4;
}

/*display that shows result*/
.display{
    height: 120px;
    width: 500px;
    display:inline-block;
    float: right;
    text-align: right;
}

/*display that shows aritmetic expression*/
.display2{
    height: 120px;
    width: 500px;
    display:inline-block;
    float: left;
    text-align: left;
}

.text{
    padding-top: 45px;
}

.textDisplay{
    padding-top: 20px;
    font-size: 50pt;
    padding-right: 15px;
}

.textDisplay2{
    padding-top: 20px;
    font-size: 50pt;
    padding-left: 15px;
}


.operands{
    color:#ff8080;
}

.expression{
    color:#ffff00;
}

.bB{
    border-bottom: 2px solid #fff;
}

/* scroll bar for displays style*/
.sb{
    overflow-x: auto;
}

.sb::-webkit-scrollbar-track
{
    -webkit-box-shadow:none;
    background-color: #000066;
}

.sb::-webkit-scrollbar
{
    width: 3px;
    background-color: #000066;
}

.sb::-webkit-scrollbar-thumb
{
    background-color: #fff;
    border:none;
}

